.Cell {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .15);
  background-color: darkgray;
  cursor: pointer;
}

.Cell-lit {
  background-color: white;
  border: none;
}